<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  
  <servlet>
    <servlet-name>HelloAppEngine</servlet-name>
    <servlet-class>Servlet.HelloAppEngine</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>HelloAppEngine</servlet-name>
    <url-pattern>/hello</url-pattern>
</servlet-mapping>


<servlet>
    <servlet-name>Initialisation</servlet-name>
    <servlet-class>Servlet.Initialisation</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>Initialisation</servlet-name>
    <url-pattern>/initialisation</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>PublishATweet</servlet-name>
    <servlet-class>Servlet.PublishATweet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>PublishATweet</servlet-name>
    <url-pattern>/publishaTweet</url-pattern>
</servlet-mapping>

  <filter>
        <filter-name>ObjectifyFilter</filter-name>
        <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
</filter>
<filter-mapping>
        <filter-name>ObjectifyFilter</filter-name>
        <url-pattern>/*</url-pattern>
</filter-mapping>
</web-app>